/* app css stylesheet */

.count-title {
  color: rgb(200, 200, 200);
}

.count-number {
  font-size: 25pt;
  color: rgb(130, 130, 130);
}

#counts-container {
  background-color: white;
  padding: 25px 0 25px 20px;
  max-width: 700px;
}

#note-table {
  margin-top: 25px;
  width: 100%;
}

#note-table-header {
  background-color: rgb(155, 155, 155);
  color: rgb(230, 230, 230);
  font-size: 10pt;
  cursor: pointer;
}

#note-table-header > th {
  padding: 5px 10px;
  font-weight: lighter;
  border-right: 1px solid rgb(230, 230, 230);
}

.note-table-data-row {
  background-color: white;
  padding: 5px 10px;
  color: rgb(100, 100, 100);
}

.note-table-data-row > td {
  padding: 10px 10px;
  border-top: 1px solid rgb(230, 230, 230);
}

.note-table-data-id {
  color: blue;
}

.note-table-checkbox {
  margin-right: 7px;
  width: 15px;
  height: 15px;
}

.note-table-add-button {
  float: right;
  width: 160px;
  background-color: blue;
  color: rgb(210, 210, 210);
}

.add-note-dialog-button {
  width: 130px;
}

#save-note-button {
  background-color: blue;
  color: rgb(210, 210, 210);
}

#cancel-save-note-button {
  background-color: white;
  color: blue;
}

#add-note-dialog-title {
  margin-bottom: 20px;
}

#add-note-dialog {
  padding: 20px;
}

#delete-confirmation-container {
  background-color: red;
  margin-top: 25px;
  padding: 5px 5px 5px 10px;
  overflow: hidden;
}

.delete-confirmation-button {
  width: 100px;
}

#delete-notes-button-no {
  background-color: red;
  color: white;
}

#delete-notes-button-yes {
  background-color: white;
  color: red;
}

#delete-notes-question {
  color:white;
  margin-left: 5px;
  line-height: 36px;
}

#delete-confirmation-buttons {
  float: right;
}

#delete-confirmation-icon {
  color: white;
}