<table id="note-table" class="table">
    <tr id="note-table-header">
        <th ng-click="changeSorting('id')">
            <input ng-click="$event.stopPropagation()" type="checkbox" class="note-table-checkbox" ng-change="toggleSelectAll()" ng-model="selectAll"/>ID
        </th>
        <th ng-click="changeSorting('title')">Title</th>
        <th ng-click="changeSorting('content')">Content</th>
        <th ng-click="changeSorting('status')">Status</th>
    </tr>
    <tr class="note-table-data-row" ng-repeat="note in $ctrl.notes | orderBy:sort.column:sort.descending">
        <td class="note-table-data-id">
            <input type="checkbox" class="note-table-checkbox" ng-model="notes[note.id-1].selected"/>{{note.id}}
        </td>
        <td>{{note.title}}</td>
        <td>{{note.content}}</td>
        <td>{{note.status}}</td>
    </tr>
</table>
<button type="button" class="btn btn-primary note-table-add-button" ng-click="openAddNoteDialog()">Add</button>
